In [4]:
import numpy as np
import pandas as pd

In [5]:
houses = pd.read_csv('/Users/vyacheslavzulanov/JupyterNotebook/Skillbox/1/1/1.4_houses.csv')
houses.head()

   dim_1  dim_2   level   price
0     29     28  luxury  2212.0
1     28     29  luxury  2203.0
2      6      9   basic   254.0
3      5      9   basic   242.0
4      6      6   basic   195.0

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [22]:
X = houses[['dim_1', 'dim_2']]
y = houses['level']

cl = DecisionTreeClassifier().fit(X, y)

In [23]:
print(export_text(cl))

|--- feature_1 <= 10.00
|   |--- class: basic
|--- feature_1 >  10.00
|   |--- feature_1 <= 25.00
|   |   |--- class: medium
|   |--- feature_1 >  25.00
|   |   |--- class: luxury

In [25]:
cl.predict(X[7:8])[0], y[7]

('medium', 'medium')